language: node_js
# ensure npm is the latest version (ignore node versions that can't run it)
install: "npm install -g npm && npm install"
script: "npm test"
node_js:
  - "0.10"
  - "0.12"
  - iojs
cache:
  directories:
    - node_modules
notifications:
  irc:
    - "irc.freenode.org#bevry-dev"
  email:
    recipients:
      - travisci@bevry.me
