nav.menu {
	min-width: 75%;
}

#search-outer {
	display: none;
	float: left;
	width: 100%;
}

#search-outer form {
	margin-top: 3px;
}

#search-outer form input {
	width: 100%;
	max-width: none;
}

.search-item {
	width: 250px;
	font-weight: normal;
	color: #333;
}

.search-btn {
	display: none;
}

#search {
	height: 48px;
}

.menu-item .fa-search.fa-lg {
	vertical-align: 9%;
}

.close-btn {
	float: right;
	margin-top: -2.4em;
	margin-right: 2em;
}

.close-btn i {
	color: #fff;
}

.gsc-control-searchbox-only {
	margin-top: -14px;
}

.gsc-input-box {
	/*	border: none !important;
	background-color: transparent !important;*/
	height: 33px !important;
	border-radius: 0.5em !important;
}

.gsc-input-box table {
	margin-top: -7px;
}

.gsc-input-box input {
	margin-top: 4px !important;
}

input.gsc-search-button-v2 {
	padding: 5px 12px !important;
	width: 40px !important;
	height: 28px !important;
	margin-top: 5px !important;
	margin-bottom: -6px !important;
	color: #fff;
	border: 1px solid #666666;
	border-color: #3079ed;
	background-color: #FECD5E !important;
}

.gsc-search-button {
	padding: 0 !important;
}

.gsst_a .gscb_a {
	margin-top: 5px;
}

ul.partners {
	padding-left: 0;
}

.partners-home {
	background-image: url(/img/ben-conference.jpg);
	background-color: #32001d;
	background-position: 100% 50%;
	height: auto;
}

.fade {
	content: " ";
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#post-nav ul {
	padding: 1em 0;
	border-bottom: 1px solid #ddd;
	line-height: 1.778em;
}

#post-nav i {
	vertical-align: middle;
}

.post-nav,
.pagination-nav {
	float: left;
	clear: none;
	min-height: 1px;
}

.post-nav {
	width: 33.3%;
}

.pagination-nav {
	width: 50%;
}

#post-nav #all-items {
	text-align: center;
	font-size: 1.778em;
}

#prev-items,
#pagination #older {
	text-align: left;
}

#next-items,
#pagination #newer {
	text-align: right;
}

#post-nav a {
	color: #ccc;
	text-decoration: none;
}

#post-nav a:hover {
	color: #FD685B;
}

#post-nav .label {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

#post-nav .label,
#post-nav #prev-items i,
#post-nav #next-items i {
	font-size: 0.75em;
}

#post-nav #prev-items .label {
	padding-left: 1.5em;
}

#post-nav #next-items .label {
	padding-right: 1.5em;
}

code {
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	background: #f2d9e6;
	padding: 0 5px;
}

.sub-menu {
	background: #fff;
}

.sub-menu li a:hover {
	text-decoration: none;
}

.post-area h1 {
	display: inline;
}

#fl_menu {
	position: absolute;
	margin-right: 8%;
	top: 66px;
	right: 0;
	z-index: 9999;
	width: 300px;
	height: 50px;
	text-align: right;
}

#fl_menu .label {
	padding-left: 20px;
	padding-right: 0;
	line-height: 50px;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: transparent;
	color: #772953;
	letter-spacing: 7px;
}

#fl_menu .menu {
	display: none;
	background: #F6F6F6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	line-height: 0.7em;
}

#fl_menu .menu .menu_item {
	display: block;
	color: #333;
	padding: 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#fl_menu .menu a.menu_item:hover {
	background: #FD685B;
	color: #fff;
}


/*h1:before,
h2:before,
h3:before,
h4:before,
h5:before {
	content: "";
	display: block;
	margin-top: -70px;
	height: 70px;
}*/

.button {
	text-align: center;
}

.single-post main,
.blog main {
	margin-top: 64px;
}

.single .post-nav {
	width: 40%;
}

#all-items {
	width: 20%;
}

#all-items2 {
	display: none;
}

ul.partners li {
	list-style: none;
}

div.partner-content ul li {
	list-style: disc;
}

#brand a span {
	color: #FECD5E;
}

.portfolio .overlay,
.portfolio-section .overlay {
	position: absolute;
	top: 75%;
	left: 0;
	display: block;
	overflow: hidden;
	padding: 0 1em;
	height: 25%;
	border-bottom: none;
	background-color: #772953;
	background-color: rgba(119, 41, 83, 0.8);
	color: #fff;
	text-align: center;
	opacity: 0.8;
	filter: alpha(opacity=0.8);
	cursor: pointer;
	-moz-opacity: 0.8;
}

.portfolio-section .overlay {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.portfolio-section .four .overlay:hover {
	height: 50%;
	top: 50%;
	opacity: 1;
}

@media handheld,
only screen and (min-width: 64em) {
	.search-item {
		width: 650px;
	}
	.search-btn {
		display: inline;
	}
}

@media handheld,
only screen and (max-width: 64em) {
	.close-btn {
		margin-right: 0;
	}
	.search-item {
		width: 600px;
	}
}

@media handheld,
only screen and (max-width: 46em) {
	.search-item {
		width: 600px;
	}
}

@media handheld,
only screen and (max-width: 42em) {
	.search-item {
		width: 550px;
	}
}

@media handheld,
only screen and (max-width: 35.5em) {
	.search-item {
		width: 465px;
	}
}

@media handheld,
only screen and (max-width: 30em) {
	.search-item {
		width: 380px;
	}
}

@media handheld,
only screen and (max-width: 23.5em) {
	.search-item {
		width: 345px;
	}
}

@media handheld,
only screen and (max-width: 20em) {
	.search-item {
		width: 290px;
	}
}


/*.meta-social ul li a.facebook-share,
 ul.meta-social li a.facebook-share {
 	border-color: #3b5998;
 	background-color: #3b5998;
 	color: #fff;
 }
 
 .meta-social ul li a.github-share,
 ul.meta-social li a.github-share {
 	border-color: #171515;
 	background-color: #171515;
 	color: #fff;
 }
 
 .meta-social ul li a.gplus-share,
 ul.meta-social li a.gplus-share {
 	border-color: #dd4b39;
 	background-color: #dd4b39;
 	color: #fff;
 }
 
 .meta-social ul li a.twitter-share,
 ul.meta-social li a.twitter-share {
 	border-color: #00acee;
 	background-color: #00acee;
 	color: #fff;
 }
 
 .meta-social ul li a.facebook-share:hover,
 ul.meta-social li a.facebook-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.github-share:hover,
 ul.meta-social li a.github-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.gplus-share:hover,
 ul.meta-social li a.gplus-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.twitter-share:hover,
 ul.meta-social li a.twitter-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}*/