/* Smartphones (landscape & iphone 4S+ portrait) 414 to 660 */

@media handheld,
only screen and (min-width: 25.875em) and (max-width: 48em) {
	.grid-items.shuffle .column {
		width: 50% !important;
	}
}


/* Smartphones (landscape) 480 to 660 */

@media handheld,
only screen and (max-width: 41.25em) {
	#intro .caption p,
	#intro .caption-mockup p {
		font-size: 1em;
	}
}


/* Smartphones (portrait) 320 to 440 */

@media handheld,
only screen and (max-width: 27.5em) {
	#intro .caption p,
	#intro .caption-mockup p {
		font-size: 1em;
	}
	#next-items i {
		display: block;
		line-height: 1;
	}
	#prev-items i {
		display: block;
		line-height: 1;
	}
	.single #post-nav #prev-items .label {
		padding-left: 0;
	}
	.single #post-nav #next-items .label {
		padding-right: 0;
	}
	.row-content.buffer,
	.row-content.buffer-left {
		padding-left: 4%;
	}
	.row-content.buffer,
	.row-content.buffer-right {
		padding-right: 4%;
	}
}

@media handheld,
only screen and (max-width:48em) {
	.single-post main,
	.blog main {
		margin-top: 0;
	}
	.intro-item .caption {
		padding-top: 5%;
	}
}

@media handheld,
only screen and (max-width: 40em) {
	.intro-item .caption {
		height: 100%;
		padding-top: 10%;
	}
	#fl_menu {
		top: 35px;
	}
	.page-title,
	h2 {
		text-align: center;
	}
	#post-nav li {
		display: block;
		height: 2.5em;
	}
	.single #post-nav ul {
		padding: 0.5em 0;
	}
	.single .post-nav {
		width: 50%;
		font-size: 0.8em;
	}
	.post-area {
		margin-top: 2em;
	}
	/*	.single .post-nav span {
		display: none;
	}*/
	.page-title h1:before {
		margin-top: 0;
		height: 20px;
	}
	li#all-items {
		display: none;
	}
}