.laptop {
 	background-image: url(/img/laptop2.jpg);
 	background-color: #32001d;
 	background-position: 50% center;
 	height: auto;
 }
 
 .fade {
 	content: " ";
 	width: 100%;
 	height: 100%;
 	margin: 0 auto;
 }
 
 header.fixed-header.transparent.light nav > ul > li:hover > a {
 	border-bottom: 2px solid #fff;
 }
 
 #post-nav ul {
 	padding: 1em 0;
 	border-bottom: 1px solid #ddd;
 	line-height: 1.778em;
 }
 
 #post-nav i {
 	vertical-align: middle;
 }
 
 .post-nav,
 .pagination-nav {
 	float: left;
 	clear: none;
 	min-height: 1px;
 }
 
 .post-nav {
 	width: 33.3%;
 }
 
 .pagination-nav {
 	width: 50%;
 }
 
 #post-nav #all-items {
 	text-align: center;
 	font-size: 1.778em;
 }
 
 #prev-items,
 #pagination #older {
 	text-align: left;
 }
 
 #next-items,
 #pagination #newer {
 	text-align: right;
 }
 
 #post-nav a {
 	color: #ccc;
 	text-decoration: none;
 }
 
 #post-nav a:hover {
 	color: #FD685B;
 }
 
 #post-nav .label {
 	text-transform: uppercase;
 	font-family: 'Montserrat', sans-serif;
 }
 
 #post-nav .label,
 #post-nav #prev-items i,
 #post-nav #next-items i {
 	font-size: 0.75em;
 }
 
 #post-nav #prev-items .label {
 	padding-left: 1.5em;
 }
 
 #post-nav #next-items .label {
 	padding-right: 1.5em;
 }
 
 code {
 	-webkit-border-radius: 0.5em;
 	border-radius: 0.5em;
 	background: #f2d9e6;
 }
 
 .sub-menu {
 	background: #fff;
 }
 
 .sub-menu li a:hover {
 	text-decoration: none;
 }
 
 .post-area h1 {
 	display: inline;
 }
 
 #fl_menu {
 	position: absolute;
 	margin-right: 8%;
 	top: 120px;
 	right: 0;
 	z-index: 9999;
 	width: 300px;
 	height: 50px;
 	text-align: right;
 }
 
 #fl_menu .label {
 	padding-left: 20px;
 	padding-right: 20px;
 	line-height: 50px;
 	font-family: "Arial Black", Arial, Helvetica, sans-serif;
 	font-size: 14px;
 	font-weight: bold;
 	background: transparent;
 	color: #772953;
 	letter-spacing: 7px;
 }
 
 #fl_menu .menu {
 	display: none;
 	background: #F6F6F6;
 	-webkit-border-radius: 2px;
 	-moz-border-radius: 2px;
 	border-radius: 2px;
 	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
 	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
 	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
 }
 
 #fl_menu .menu .menu_item {
 	display: block;
 	color: #333;
 	padding: 10px 20px;
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 12px;
 	text-decoration: none;
 }
 
 #fl_menu .menu a.menu_item:hover {
 	background: #FD685B;
 	color: #fff;
 }
 
 h1:before,
 h2:before,
 h3:before,
 h4:before,
 h5:before {
 	content: "";
 	display: block;
 	margin-top: -70px;
 	height: 70px;
 }
 
 .meta-social ul li a.facebook-share,
 ul.meta-social li a.facebook-share {
 	border-color: #3b5998;
 	background-color: #3b5998;
 	color: #fff;
 }
 
 .meta-social ul li a.github-share,
 ul.meta-social li a.github-share {
 	border-color: #171515;
 	background-color: #171515;
 	color: #fff;
 }
 
 .meta-social ul li a.gplus-share,
 ul.meta-social li a.gplus-share {
 	border-color: #dd4b39;
 	background-color: #dd4b39;
 	color: #fff;
 }
 
 .meta-social ul li a.twitter-share,
 ul.meta-social li a.twitter-share {
 	border-color: #00acee;
 	background-color: #00acee;
 	color: #fff;
 }
 
 .meta-social ul li a.facebook-share:hover,
 ul.meta-social li a.facebook-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.github-share:hover,
 ul.meta-social li a.github-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.gplus-share:hover,
 ul.meta-social li a.gplus-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 }
 
 .meta-social ul li a.twitter-share:hover,
 ul.meta-social li a.twitter-share:hover {
 	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}