<section class="row section text-light partners-home">
	<div class="fade">
        <div class="row-content buffer even clear-after">
          <div class="column five">
            <h2>DocPad Partners</h2>
             <p>DocPad has several partners who provide consulting and support services for DocPad.
			  This includes <a href="http://bevry.me">Bevry</a>,
				 <a href="http://www.myplanetdigital.com">Myplanet Digital</a>,
				 <a href="http://almero.bg">Almero</a> and
				 <a href="http://dockyard.com">Dockyard</a>
			  </p>
			  <a class="button transparent aqua" href="docs/support">Read More</a>
          </div>
        </div>
	</div>
</section>