/***
standalone: true
***/

:root {
	--colorBlue: #259dcf;
	--colorDarkGold: #998758;
	--colorGold: #b09e6e;
	--colorLightGold: #c0ae7e;
	--colorLighterGold: #e2d5b2;
	--colorLightestGold: #f2ead4;
	--colorDarkestBrown: #3e3e3e;
	--colorDarkBrown: #777;
	--colorBrown: #9f9f9f;
	--colorLightBrown: #aaa;
	--colorLighterBrown: #dbdbdb;
	--colorLightestBrown: #f1f1f1;

	--barSize: 2.5rem;
	--paddingSize: 2%;
	--marginSize: 10px;

	--bodyFont: sans-serif; /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	--bodyBackground: var(--colorLightestBrown);
	--bodyColor: var(--colorDarkestBrown);

	--headingFont: sans-serif; /* Cambria, Calibri, Helvetica, Arial, sans-serif; */

	--codeFont: monospace;
	--codeBackground: var(--colorLightestGold);
	--codeBorder: hsl(186, 8%, 88%);  /* hsl(192, 8%, 84%) */
	--codeColor: hsl(186, 8%, 15%);

	--quoteColor: hsl(11, 90%, 55%);

	--linkColor: var(--colorBlue);
	--accentColor: var(--colorDarkGold);
}

* {
	box-sizing: border-box;
}

/* icons */
.up > .icon:before {
	content: '↑';
}
.down > .icon:before {
	content: '↓';
}
.prev > .icon:before {
	content: '←';
}
.next > .icon:before {
	content: '→';
}

/* main */
html {
	font-family: var(--bodyFont);
	background: var(--bodyBackground);
	color: var(--bodyColor);
	overflow-wrap: break-word;
}
html, body, div {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4 {
	font-family: var(--headingFont);
}

/* links */
a, .link  {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: var(--linkColor);
}
a:hover, .link:hover {
	text-decoration: underline;
}

/* code */
code,
pre code,
.hljs {
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	padding: 0 0.5em 0;
	border: 1px solid var(--codeBorder);
	border-radius: 0.5em;
	break-inside: avoid;
	page-break-inside: avoid;
	white-space: pre;
	font-family: var(--codeFont);
	background: var(--codeBackground);
	color: var(--codeColor);
}

pre code,
.hljs {
	display: block flow;
	line-height: 1.5em;
	padding: 1em 1.5em;
	overflow: scroll;
	width: 100%;
}

/* misc */
blockquote {
	margin: 3em;
	color: var(--quoteColor);
}
blockquote em {
	font-style: italic;
}
em {
	font-style: italic;
}
nav,
nav li {
	list-style: none;
}


/* ====================================
   Layout */

html, body, .container, .sidebar, .sidebar .list-menu {
	height: 100%;
}
html, body, div, nav, section, aside, article {
	width: 100%;
}
.topbar {
	position: fixed;
	z-index: 2;
	height: var(--barSize);
	border-bottom: 1px solid var(--colorLightBrown);
	box-shadow: 0 0 1px white;
	background: var(--bodyBackground);
	top: 0;
	left: 0;
}
.sidebar {
	box-sizing: content-box;
	position: fixed;
	z-index: 1;
	width: 200px;
	padding-right: var(--paddingSize);
	top: 0;
	left: -200px;
	transition: left 0.3s ease-in;
}
.sidebar > .list-menu {
	overflow: auto;
	background: var(--bodyBackground);
	border-right: 1px solid var(--colorLightBrown);
	box-shadow: 0 0 1px white;
}
.topbar:hover + .sidebar,
.sidebar:hover {
	left: 0;
}
.contentbar {
	padding: var(--barSize) var(--paddingSize) 0;
	background: white;
	border-bottom: 1px solid var(--colorLightBrown);
	box-shadow: 0 0 1px white;
	overflow-y: auto;
}

/* topbar */
.topbar {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: var(--barSize);
	grid-template-areas: "links search";
}
.topbar .search {
	grid-area: search;
	padding: 0.3rem 0.5rem 0;
}
.links {
	grid-area: links;
	line-height: var(--barSize);
	overflow: hidden;
}
.links a {
	line-height: 1rem;
	font-size: 1rem;
	margin: 0 var(--marginSize);
	padding: 0 var(--marginSize);
	color: var(--colorDarkestBrown);
	font-weight: bolder;
}
.topbar .links a {
	padding-bottom: 2px;
	border-bottom: 3px solid transparent;
}
.topbar .links a:hover,
.topbar .links a.active {
	text-decoration: none;
	border-color: var(--colorLightGold);
}
.topbar .links a.logo {
	padding-bottom: 3px;
	margin-left: 0;
}

.topbar .links a.logo,
.list-menu-project > .list-menu-title a {
	font-size: 1.25rem;
}
.topbar .search * {
	box-sizing: content-box;
}
.topbar .search .gsc-control-cse {
	padding: 0;
	border: none;
	background: none;
	border: none;
}

/* bottombar */
.bottombar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--barSize);
	grid-template-areas: "about links";
	background: var(--bodyBackground);
	padding: 0 var(--marginSize);
	line-height: var(--barSize);
}
.bottombar .about {
	grid-area: about;
}
.bottombar .links a {
	font-weight: normal;
	border: none;
}


/* ====================================
   Pages */

/* hide sidebar on docs and landing page */
.page-index .contentbar,
.page-docs .contentbar {
	background: var(--bodyBackground);
	border-left: none;
	padding-bottom: var(--barSize);
}


/* ====================================
   Sidebar and Docs Menus */

.list-menu {
	cursor: default;
}
.list-menu ul,
.list-menu li {
	margin: 0;
	padding: 0;
}
.list-menu a,
.list-menu .active {
	line-height: 1rem;
	font-size: 1rem;
	color: var(--colorDarkestBrown);
	font-weight: bolder;
}

.sidebar .list-menu-title {
	display: block;
	width: 100%;
	border-left: calc(var(--marginSize) / 2) solid transparent;
}
.sidebar .list-menu-title:hover,
.sidebar .active .list-menu-title {
	border-color: var(--colorLightGold);
}

.sidebar ul ul .list-menu-title {
	padding-left: calc(var(--marginSize) / 2);
}
.sidebar ul ul ul .list-menu-title {
	padding-left: calc(var(--marginSize) * 1);
	border-left: calc(var(--marginSize) * 2) solid transparent;
}

.list-menu h1,
.list-menu h2,
.list-menu h3,
.list-menu h4,
.list-menu h5,
.list-menu h6 {
	margin: 0.2em 0;
	padding: 0.2em 0;
}

.docs .list-menu-project > .list-menu-title {
	display: none;
}
.docs .list-menu-categories {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
   align-content: center;
	grid-gap: 1rem;
   justify-content: space-evenly;
}
.docs .list-menu-category {
	grid-column: span 1;
	grid-row: span 1;
}
.docs .list-menu-category > .list-menu-title a {
	all: unset;
}
.docs .list-menu-items {
	padding: 1rem var(--paddingSize);
	background: white;
	border-radius: 3px;
}


/* ====================================
   Splash & Error */

.splash section,
.error section {
	margin: 3em 0;
	padding: 1.5em 0;
	text-align: center;
}

.splash h1,
.error h1 {
	font-size: 4rem;
}

.splash h2,
.error h2,
.splash h3,
.error h3 {
	font-size: 2.5rem;
}

.error section {
	margin: 0;
}
.error h1 {
	margin-bottom: 0;
}

.splash p {
	color: var(--colorDarkBrown);
	font-size: 1.1em;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
.splash .btn {
	font-size: 1.5em;
	background-color: var(--colorLightGold);
	background-image: linear-gradient(to bottom, var(--colorLightGold), var(--colorGold));
	border: 2px solid white;
	border-radius: 3px;
	color: var(--colorDarkestBrown) !important;
	display: inline-block;
	margin: 1em auto;
	padding: 15px 30px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.splash .btn:hover {
	background-image: none;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* ====================================
   Splash: Hero */

.splash .overview {
	font-family: var(--headingFont);
	font-size: 1.4em;
	line-height: 1.2em;
	list-style: none;
	padding: 3em 0 1em;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
   align-content: center;
	grid-gap: 1rem;
   justify-content: space-evenly;
}
.splash .overview li {
	grid-column: span 1;
	grid-row: span 1;
	position: relative;
	cursor: pointer;
}
.splash .overview li span {
	display: block;
}
.splash .overview li .image {
	display: block;
	background: url(/images/splash-features.png) no-repeat 4px 100%;
	width: 152px;
	height: 256px;
	margin: 0 auto;
}
.splash .overview li.versioning .image {
	background-position: 0 10px;
}
.splash .overview li.skeletons .image {
	background-position: -206px 0;
}
.splash .overview li.language .image {
	background-position: -400px 0;
}
.splash .overview li.deploys .image {
	background-position: -596px 0;
}
.splash .overview li.plugins .image {
	background-position: -806px 0;
}
.splash .overview li .popover {
	position: absolute;
	left: 0;
	z-index: 3;

	background: white;
	padding: 1rem;
	border-radius: .25em;

	line-height: 1.25em;

	visibility: hidden;
	opacity: 0;
	transition: all .2s ease-in-out;
}
.splash .overview li .popover:before {
	content: "";
	background: white;

	z-index: -3;
	width: 1em;
	height: 1em;
	margin-left: -.5em;

	position: absolute;
	top: -.4em;
	left: 50%;

	transform: rotate(45deg);
}
.splash .overview li:hover .popover {
	visibility: visible;
	opacity: 1;
	margin-top: 1em;
}

/* ====================================
	Splash - Support & About Sections */

.splash .support {
	background: var(--colorLightGold);
	color: var(--colorDarkestBrown);
}

.splash .providers {
	list-style: none;
	padding: 2em 0 0;
}
.splash .providers li {
	display: inline-block;
	margin: 0 3em 2em;
}
.splash .providers a {
	color: var(--colorLightestGold);
	font-size: 1.4em;
	font-weight: lighter;
}
.splash .providers a:hover {
	color: white;
}


.splash .tweets {
	margin-top: 2em;
	margin-bottom: 0;
}

.splash .about {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* ====================================
   Main Content */

.parentcrumbs {
	display: none;
}


.block table {
	font-size: 1em;
	margin: 2em 0;
	width: 100%;
}
.block th,
.block td {
	padding: var(--marginSize);
}
.block th {
	background: var(--colorLightGold);
	color: white;
	font: var(--headingFont);
	font-weight: bold;
}
.block tr:nth-child(2n+2) {
	background: var(--colorLightestBrown);
}

.block {
	line-height: 1.4em;
}


.block-footer {
	border-top: 1px dotted var(--colorLighterBrown);
	margin: 5em 0 1em;
	padding-top: 1em;
}
.block-edit {
	margin-bottom: 1em;
	text-align: right;
}
.block-edit a {
	transition: all 0.2s ease-out;
	color: var(--colorLighterBrown);
}
.block-edit a:hover {
	color: var(--colorDarkestBrown);
}

.prev-next {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "prev up next";
}
.prev {
	grid-area: prev;
}
.up {
	text-align: center;
	grid-area: up;
}
.next {
	text-align: right;
	grid-area: next;
}
.prev-next .icon {
	display: block;
}


.block h1,
.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
	margin-top: 2em;
}
.block h2 {
	line-height: 2em;
	border-bottom: 1px dotted var(--colorLighterBrown);
}
.block-header h1 {
	margin: 0;
}

/* fix for anchor links */
.block :target {
	margin-top: 0;
	padding-top: var(--barSize);
}

.block img {
	border: 2px solid var(--colorLightestBrown);
	display: block;
	margin: 1em auto;
}

.block iframe,
.block table,
.block img {
	max-width: 100%;
}



@media screen and (max-width: 600px) {
	body {
		--paddingSize: 5px;
		--marginSize: 5px;
	}
	.block th,
	.block td {
		padding: var(--marginSize) 0;
	}
	.block-edit {
		display: none;
	}
}

/*

// ====================================
// Layout: Responsive;
// Write your responsive layout styles here
// Below is merely an example of how this should work

@media screen and (max-width: 1280px);
	// Shrink features even more
	.splash
		.overview
			li
				font-size: 90%;
				.image
					zoom(0.9)

@media screen and (max-width: 1024px);
	// Remove side padding
	.container
		width: 100%;

	// Shrink features even more
	.splash
		.overview
			li
				column(4)
				display: inline-block;
				float: none;

	// Remove margin about the bottombar
	.bottombar
		margin-top: 2em;
		.about
			margin-left: 2%;
		.links
			margin-right: 2%;

@media screen and (max-width: 960px);
	// Reduce doc columns
	.docs
		.list-menu
			.list-menu-category
				font-size: 90%;
				min-height: 300px;

@media screen and (max-width: 900px);
	// Hide the search bar
	.topbar
		.search
			display: none;

@media screen and (max-width: 830px);
	// Reduce doc columns
	.docs
		.list-menu
			.list-menu-category
				width: 23%;
				margin: 0 1%;

	.splash
		.overview
			li
				margin: 0 3%;
				.image
					zoom(0.8)

@media screen and (max-width: 768px);
	// Reduce doc columns per row to 2
	.docs
		.list-menu
			.list-menu-category
				width: 47%;
				margin: 1em 1.5%;

	// Remove top margin on the bottombar
	.bottombar
		margin-top: 0;
		.about
		.links
			margin: 0;

@media screen and (max-width: 650px);
	// Adjust font sizes
	.page
		font-size: 95%;
		padding-left: 0;
		width: 100%;
	.splash
		font-size: 80%;
		.overview
			li
				column(4)
				display: inline-block;
				float: none;
				padding: 0 0 2em;
				.image
					zoom(0.6)

	.block
		h2
			margin-top: 3em;
		h3
			margin-top: 2.5em;
		h4
			margin-top: 2.1em;

	// Make footer two rows
	.bottombar
		text-align: center;
		.about
		.links
			float: none;


@media screen and (max-width: 560px);
	.splash
		.overview
			li
				.image
					zoom(0.5)

@media screen and (max-width: 450px);
	// Shrink features even more
	.splash
		section
			margin: 2em 0;

	// Hide the links
	.block-edit
		display: none;
	.bottombar
		.links
			display: none;

	// Hide the links
	.topbar
		a.secondary
			display: none;

	// Allow code blocks to break
	code
		overflow-wrap: break-word;

	// Adjust font sizes
	.page
		font-size: 90%;
	.splash
		font-size: 65%;
		p
			font-size: 130%;
	.block
		h2
			margin: 2.3em 0 1em;
		h3
			margin: 2.2em 0 1em;
		h4
			margin: 2.1em 0 1em;


@media screen and (max-width: 320px);
	// Shrink features even more
	.splash
		.overview
			margin: 0;

	// Reduce doc columns per row to 1
	.docs
		.list-menu
			.list-menu-category
				width: 100%;
				margin: 1em 0;
				min-height: inherit;

	// Adjust font sizes
	.prev-next .title
		font-size: 70%;

*/