// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// ====================================
// Colors

colorBlue = #259dcf

colorDarkGold = #998758
colorGold = #b09e6e
colorLightGold = #c0ae7e
colorLighterGold = #e2d5b2
colorLightestGold = #f2ead4

colorDarkestBrown = #3e3e3e
colorDarkBrown = #777
colorBrown = #9f9f9f
colorLightBrown = #aaa
colorLighterBrown = #dbdbdb
colorLightestBrown = #f1f1f1

colorLink = colorBlue
colorAccent = colorGold


// ====================================
// Fonts

body
.search input
	font-family: Georgia, Times, serif

nav, h1, h2, h3, h4
.btn
.providers
footer
	font-family: "futura-pt", Helvetica, Arial, sans-serif
	font-weight: 500
	text-transform: uppercase

table
	font-family: Helvetica, Arial, sans-serif

blockquote
	margin: 3em
	color: hsl(11, 90%, 55%)
	em
		font-style: italic

em
	color: colorAccent
	font-style: normal


// ------------------------------------
// Links

a:not(.hover-link),.link
	cursor: pointer
	text-decoration: none
	color: colorLink
	font-weight: bold
.hover-link
	cursor: pointer
	text-decoration: none
	color: inherit
a:hover,.hover-link:hover
	text-decoration: underline


// ------------------------------------
// Code

code
pre code
	font-family: Consolas, Monaco, 'Source Code Pro', 'courier new', monospace, serif
	border-radius: 0.5em
	background: colorLightestGold
	border: 1px solid hsl(186, 8%, 88%)
	color: hsl(186, 8%, 15%)

code
	font-size: 0.75em
	font-weight: 500
	padding: 0.05em 0.5em 0em
	white-space: pre
	display: inline-block
	margin: 0.4em 0.2em 0.2em 0

pre code
	font-size: 0.7em
	font-family: Monaco, Consolas, 'Source Code Pro', 'courier new', monospace, serif
	display: block
	margin: 2.5em 0
	padding: 1em 1.5em
	line-height: 1.5em
	border: 1px solid hsl(192, 8%, 84%)


// ====================================
// Global Styles

body
	background: colorLightestBrown
	color: colorDarkestBrown

a
	text-decoration: none

.btn
	background-color: colorLightGold
	background-image: linear-gradient(top, colorLightGold, colorGold)
	border: 2px solid white
	border-radius: 3px
	color: colorDarkestBrown
	display: inline-block
	margin: 1em auto
	padding: 15px 30px
	text-shadow: 1px 1px 0 rgba(white, .3)

	&:hover
		background-image: none
		box-shadow: inset 1px 1px 2px rgba(black, .2)

// ====================================
// Layout and structure

.footer
.nav-main
.container
	margin: 0 auto
	width: 90%
	position: relative
	background: hsl(0, 0%, 95%)

.nav-main
	top: 0
	position: fixed
	left: 5%
	z-index: 500

.nav-secondary
	position: fixed
	top: 4em
	left: 5%

	width: 15%
	max-width: 200px
	opacity: 1
	transition: all 0.2s ease-out

	&.fixed
		opacity: 0.5
		&:hover
			opacity: 1

.page
	margin-top: 3em
	float: right
	width: 76%
	max-width: 1100px
	padding: 0 3%


// ====================================
// Main navigation

.nav-main
	border-bottom: 1px solid colorLightBrown
	box-shadow: 0 1px 0 white

	.logo:hover
		border-color: transparent

	a
		border-bottom: 6px solid transparent
		color: colorDarkestBrown
		display: inline-block
		font-size: 15px
		margin-right: 25px
		padding: 20px 0 14px

		&:hover, &.active
			border-color: colorLightGold

.logo
	background: transparent url(/img/logo-docpad.png) no-repeat 0 58%
	height: 21px
	text-indent: -9999em
	width: 141px

.search
	float: right
	margin-top: 16px

	input
		background: white url(/img/icon-search.gif) no-repeat 10px 50%
		border: 1px solid colorLighterBrown
		border-radius: 30px
		color: colorDarkBrown
		font-size: 14px
		padding: 5px 15px 5px 35px
		width: 170px

		&:focus
			outline: none


// ====================================
// Splash Styles

.splash
	section
		padding: 40px 0 50px
		text-align: center

	h1 { font-size: 60px }
	h2 { font-size: 36px }
	h3 { font-size: 36px }

	p
		color: colorDarkBrown
		font-size: 17px
		line-height: 29px
		margin-left: auto
		margin-right: auto
		width: 450px

	.btn { font-size: 18px }

	// ====================================
	// Splash - Hero Space

	.hero
		padding: 50px 0 90px
		text-align: center

	.overview
		font-size: 18px;
		line-height: 23px;
		list-style: none;
		margin: 70px 0 0;
		padding: 0;

		li
			background: url(../img/splash-features.png) no-repeat 4px 100%
			display: inline-block
			margin-right: 50px
			min-height: 256px
			width: 152px

			&:last-child { margin-right: 0 }

			li.skeletons { background-position: -206px 100% }
			li.language  { background-position: -400px 100% }
			li.deploys   { background-position: -596px 100% }
			li.plugins   { background-position: -806px 100% }

	// ====================================
	// Splash - Support & About Sections

	.support
		background: colorLightGold
		p
			color: colorDarkestBrown

	.providers
		list-style: none
		margin-top: 60px
		padding: 0

		li
			display: inline-block
			margin: 0 40px 20px

		a
			color: colorLightestGold
			font-size: 20px
			font-weight: 400

			&:hover { color: white }

// ====================================
// Secondary Navigation

.container
	font-weight: 400
	margin-bottom: 80px
	margin-top: 40px
	clearfix()

.nav-secondary
	.list-menu-categories
		&:first-child
			border-left: 2px solid colorLightGold
			padding: 0

		.list-menu-category
			padding: 5px 0
			.list-menu-items
				margin: 5px 0
				padding-left: 15px
				overflow: hidden
				transition: max-height 0.5s ease-out
				height: auto
				max-height: 300px

				.list-menu-item.active a
					border-color: transparent
					color: colorDarkGold

			&.inactive
				.list-menu-items
					max-height: 0

			&.active > a
				border-color: colorLightGold

			&:hover
				.list-menu-items
					max-height: 300px

	a
		border-left: 5px solid transparent
		color: colorDarkestBrown
		display: inline-block
		font-size: 17px
		padding: 2px 8px

		&:hover { color: colorBrown }

// ====================================
// Main Content

.page
	background: white
	border-radius: 3px

	.section-wrapper
		display:none
		&.active
			display:block

	h1
		margin-bottom: 0
		font-size: 32px

	h2
		font-weight: bold
		font-size: 26px
		margin-top: 4em

	.compact
		h2
			color: colorLink

	h3
		font-size: 22px
		margin-top: 3em

	h4
		font-size: 18px
		margin-top: 2.5em

	h2
		border-bottom: 1px dotted colorLighterBrown


	a
		color: colorLink
		font-weight: bold
		&:hover { text-decoration: underline }

	p, ul, dl, ol
		font-size: 16px
		line-height: 25px

	ul ul
	ol ol
		margin: 5px 0

	dl dt { font-weight: bold }
	dl dd { margin: 0 0 20px 15px }

	img
		border: 2px solid colorLightestBrown
		display: block
		margin: 1em auto
		max-width: 100%

	table
		font-size: 14px
		margin: 2em 0
		width: 100%

		th
		td { padding: 10px }

		th
			background: colorLightGold
			color: white

		tr:nth-child(2n+2) { background: colorLightestBrown }

	footer
		border-top: 1px dashed colorLighterBrown
		margin: 2em 0 1.5em
		padding-top: 1em
		clearfix()

.prev-next
	.prev
		float: left
		margin-right: 15px
		&:before { content: '← '}

	.next
		float: right
		margin-left: 15px
		&:after { content: ' →' }


// ====================================
// Footer

.footer
	border-top: 1px solid white
	box-shadow: 0 -1px 0 colorLightBrown
	min-height: 60px

	a:hover
		text-decoration: underline

	.about
	.nav-footer
		font-size: 15px
		margin: 1em 0

	.about
		float: left
		a
			color: colorLink

	.nav-footer
		float: right
		a
			color: colorDarkestBrown
			margin-left: 15px

