// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// fonts
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600,700,900")


// ====================================
// Responsive Layout Awesomeness
// https://gist.github.com/1549029
// Published under the "public domain" using the Creative Commons Zero - http://creativecommons.org/publicdomain/zero/1.0/

// Everything
*
	// Make paddings be included within the width
	box-sizing border-box

// Provide our wrapper mixin
// Contains our resize transition
wrapper($site-width = 70%)
	$site-margin = ((100% - $site-width) / 2)
	margin-left: $site-margin
	margin-right: $site-margin
	transition: margin 0.3s ease-out
	clearfix()

// Provide our column mixin
column($columns)
	display: inline
	float: left
	overflow: hidden
	width: (100/$columns)%


// ====================================
// Configuration

// Fonts
fontMyraid = "Myriad Pro", "Segoe WP", "Segoe UI", Segoe, Calibri, Helvetica, Arial
fontMyraidBoldest = 700
fontMyraidBold = 600
fontMyraidNormal = 500
fontMyraidLight = 500
fontMyraidLightest = 500
fontFutura = "futura-pt", Helvetica, Arial, sans-serif
fontGeorgia = Georgia, Times, serif
fontConsolas = Consolas, Menlo, Monaco, 'Source Code Pro', 'courier new', monospace, serif
fontMonaco = Monaco, Menlo, Consolas, 'Source Code Pro', 'courier new', monospace, serif

// Colors
colorBlue = #259dcf

colorDarkGold = #998758
colorGold = #b09e6e
colorLightGold = #c0ae7e
colorLighterGold = #e2d5b2
colorLightestGold = #f2ead4

colorDarkestBrown = #3e3e3e
colorDarkBrown = #777
colorBrown = #9f9f9f
colorLightBrown = #aaa
colorLighterBrown = #dbdbdb
colorLightestBrown = #f1f1f1

colorLink = colorBlue
colorAccent = colorDarkGold


// ====================================
// Fonts

body
.search input
	font-family: fontMyraid

	font-smooth: always
	-webkit-font-smoothing: antialiased
    color-profile: sRGB
    rendering-intent: auto
	text-rendering: optimizeLegibility

nav
.btn
.providers
footer
	font-family: fontMyraid
	font-weight: fontMyraidNormal
	text-transform: uppercase

//h1, h2, h3, h4
//	font-family: fontMyraid
//	font-weight: fontMyraidBoldest

h1, h2, h3, h4
	font-family: fontFutura
	font-weight: fontMyraidNormal
	text-transform: uppercase


// ------------------------------------
// Links

a:not(.hover-link),.link
	cursor: pointer
	text-decoration: none
	color: colorLink
	font-weight: fontMyraidBoldest
.hover-link
	cursor: pointer
	text-decoration: none
	color: inherit
a:hover,.hover-link:hover
	text-decoration: underline


// ------------------------------------
// Code

code
pre code
	font-weight: 500
	border-radius: 0.5em
	background: colorLightestGold
	color: hsl(186, 8%, 15%)

code
	font-size: 0.75em
	font-family: fontConsolas
	
	display: inline-block
	padding: 0.05em 0.5em 0em
	margin: 0.4em 0.2em 0.2em 0
	border: 1px solid hsl(186, 8%, 88%)
	
	white-space: pre

pre code
	font-size: 0.7em
	font-family: fontMonaco
	
	display: block
	margin: 2.5em 0
	padding: 1em 1.5em
	border: 1px solid hsl(192, 8%, 84%)

	line-height: 1.5em


// ====================================
// Global Styles

body
	background: colorLightestBrown
	color: colorDarkestBrown

blockquote
	margin: 3em
	color: hsl(11, 90%, 55%)
	em
		font-style: italic

em
	// color: colorAccent
	// font-style: normal
	font-style: italic

nav
nav li
	list-style: none

a
	text-decoration: none

.btn
	background-color: colorLightGold
	background-image: linear-gradient(top, colorLightGold, colorGold)
	border: 2px solid white
	border-radius: 3px
	color: colorDarkestBrown !important
	display: inline-block
	margin: 1em auto
	padding: 15px 30px
	text-shadow: 1px 1px 0 rgba(white, .3)

	&:hover
		background-image: none
		box-shadow: inset 1px 1px 2px rgba(black, .2)


// ====================================
// Layout and structure

.bottombar
.topbar
.container
	margin: 0 auto
	width: 90%
	position: relative
	background: hsl(0, 0%, 95%)

.bottombar
	margin-top: 3em
	width: 100%
	height: 50px
	padding-bottom: 20px

.topbar
	top: 0
	position: fixed
	left: 5%
	z-index: 500

.sidebar
	position: fixed
	top: 4em
	left: 5%

	width: 15%
	max-width: 200px

	opacity: 1
	transition: all 0.2s ease-out

	&.fixed
		opacity: 0.5
		&:hover
			opacity: 1

.page
	width: 100%
	padding-left: 200px

.page.nonav
	padding-left: 0

.mainbar
	font-weight: 400
	margin-bottom: 80px
	margin-top: 40px
	clearfix()

.webchat
	position: fixed
	left: 0%
	bottom: 0
	width: 100%
	height: 500px
	display: none
	.wrapper
		border: 1px solid hsl(209, 32%, 82%)
		background: hsl(209, 70%, 94%)
		width: 30%
		height: 500px
	iframe
		background: white
		border: none
		width: 100%
		height: 500px
	.close
		position: absolute
		top: 0
		right: 0
		width: 20px
		height: 20px
		padding-top:3px
		cursor: pointer
		text-align: center
	.open
		position: absolute
		bottom: 0
		left: 0
		width: 100px
		height: 25px
		cursor: pointer
		border: 1px solid hsl(209, 32%, 82%)
		background: hsl(209, 70%, 94%)
		text-align: center
		padding-top: 0.3em



// ====================================
// Main navigation

.topbar
	border-bottom: 1px solid colorLightBrown
	box-shadow: 0 1px 0 white
	padding-top: 1.2em
	line-height: 1.5em

	.links
		display: inline

	a
		border-bottom: 6px solid transparent
		color: colorDarkestBrown
		display: inline-block
		font-size: 15px
		margin-right: 25px
		padding-bottom: 0.6em

		&:hover
		&.active
			border-color: colorLightGold
			text-decoration: none

	.logo
		background: transparent url(/img/logo-docpad.png) no-repeat 0 58%
		width: 141px
		height: 25px
		text-indent: -9999em
		padding: 0
		&:hover
			border-color: transparent

	.search
		float: right

		input
			background: white url(/img/icon-search.gif) no-repeat 10px 50%
			border: 1px solid colorLighterBrown
			border-radius: 30px
			color: colorDarkBrown
			font-size: 14px
			padding: 5px 15px 5px 35px
			width: 170px

			&:focus
				outline: none


// ====================================
// Splash Styles

.splash
	section
		padding: 40px 0 50px
		text-align: center

	h1
		font-size: 60px
	h2
		font-size: 36px
	h3
		font-size: 36px

	p
		color: colorDarkBrown
		font-size: 17px
		line-height: 29px
		margin-left: auto
		margin-right: auto
		width: 450px

	.btn { font-size: 18px }

	// ====================================
	// Splash - Hero Space

	.hero
		padding: 50px 0 90px
		text-align: center

	.overview
		font-size: 18px;
		line-height: 23px;
		list-style: none;
		margin: 70px 0 0;
		padding: 0;

		li
			background: url(../img/splash-features.png) no-repeat 4px 100%
			display: inline-block
			margin-right: 50px
			min-height: 256px
			width: 152px

			&:last-child
				margin-right: 0

			&.skeletons
				background-position: -206px 100%
			&.language
				background-position: -400px 100%
			&.deploys
				background-position: -596px 100%
			&.plugins
				background-position: -806px 100%

	// ====================================
	// Splash - Support & About Sections

	.support
		background: colorLightGold
		p
			color: colorDarkestBrown

	.providers
		list-style: none
		margin-top: 60px
		padding: 0

		li
			display: inline-block
			margin: 0 40px 20px

		a
			color: colorLightestGold
			font-size: 20px
			font-weight: 400

			&:hover
				color: white

// ====================================
// Secondary Navigation

.sidebar
	overflow: hidden

	a
		border-left: 5px solid transparent
		color: colorDarkestBrown
		display: inline-block
		font-size: 17px
		padding: 2px 8px
		font-weight: fontMyraidBoldest
	.list-menu-item a
		font-weight: fontMyraidNormal
		&:hover
			color: colorDarkGold
	.list-menu-item.active a
		font-weight: fontMyraidBold
		color: colorDarkGold

	.list-menu-categories
		&:first-child
			border-left: 2px solid colorLightGold
			padding: 0

	.list-menu-category
		padding: 5px 0

		&.active > a
			border-color: colorLightGold
		&.inactive
			.list-menu-items
				max-height: 0
		&:hover
			.list-menu-items
				max-height: 300px

	.list-menu-items
		text-transform: none
		margin: 5px 0
		padding-left: 15px
		overflow: hidden
		transition: max-height 0.5s ease-out
		height: auto
		max-height: 300px

// ====================================
// Index Page

.column
	display: inline-block
	overflow: hidden
	width: 21%
	margin: 0 1.7%
	float: left
	min-width: 210px
	min-height: 365px

	// Category
	h2
		color: colorDarkGold

	// Items
	.list-menu-items
		padding: 0 1em
		list-style: none

		// Item
		.list-menu-item
			padding-bottom: .25em
			a
				font-weight: fontMyraidBold
				color: colorDarkestBrown

// ====================================
// Main Content

.page
	padding-top: 2em

.block
	padding: 0.5em 3%
	background: white
	border-radius: 3px

	.section-wrapper
		display:none
		&.active
			display:block

	h1
		margin-bottom: 0
		font-size: 36px
		font-weight: fontMyraidBoldest

	h2
		font-weight: fontMyraidBoldest
		font-size: 26px
		margin-top: 4em

	.compact
		h2
			color: colorLink

	h3
		font-size: 22px
		margin-top: 3em

	h4
		font-size: 18px
		margin-top: 2.5em

	h2
		border-bottom: 1px dotted colorLighterBrown


	a
		color: colorLink
		font-weight: fontMyraidBoldest
		&:hover
			text-decoration: underline

	dl dt
		font-weight: fontMyraidBoldest
	dl dd
		margin: 0 0 20px 15px

	img
		border: 2px solid colorLightestBrown
		display: block
		margin: 1em auto
		max-width: 100%

	table
		font-size: 14px
		margin: 2em 0
		width: 100%

		th
		td { padding: 10px }

		th
			background: colorLightGold
			color: white

		tr:nth-child(2n+2)
			background: colorLightestBrown

	.block-footer
		border-top: 1px dotted colorLighterBrown
		margin: 5em 0 1.5em
		padding-top: 1em
		clearfix()

	.prev-next
		.prev
			float: left
			margin-right: 15px
			&:before
				content: '← '

		.next
			float: right
			margin-left: 15px
			&:after
				content: ' →'


// ====================================
// Footer

.bottombar
	border-top: 1px solid white
	box-shadow: 0 -1px 0 colorLightBrown

	a:hover
		text-decoration: underline

	.about
	.links
		font-size: 15px
		margin: 1em 0

	.about
		float: left
		a
			color: colorLink

	.links
		float: right
		a
			color: colorDarkestBrown
			margin-left: 15px

