/*----------------------------------------------------------------
    Blog & Portfolio
----------------------------------------------------------------*/

.single #post-nav ul {
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    line-height: 1.778em;
}

.single #post-nav i {
    vertical-align: middle;
}

.single .post-nav,
.pagination-nav {
    float: left;
    clear: none;
    min-height: 1px;
}

.single .post-nav {
    width: 33.3%;
}

.pagination-nav {
    width: 50%;
}

.single #post-nav #all-items {
    text-align: center;
    font-size: 1.778em;
}

.single #prev-items,
#pagination #older {
    text-align: left;
}

.single #next-items,
#pagination #newer {
    text-align: right;
}

.single #post-nav a {
    color: #ccc;
    text-decoration: none;
}

.single #post-nav a:hover {
    color: #FD685B;
}

.single #post-nav .label {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.single #post-nav .label,
.single #post-nav #prev-items i,
.single #post-nav #next-items i {
    font-size: 0.75em;
}

.single #post-nav #prev-items .label {
    padding-left: 1.5em;
}

.single #post-nav #next-items .label {
    padding-right: 1.5em;
}

#pagination #newer .button i {
    margin-right: 0;
    margin-left: 0.667em;
}

.blog h5,
.blog-section h5,
.single h5,
.single .meta-post a,
.blog.list-style .meta-post a,
.search.list-style .meta-post,
.search.list-style .meta-post a {
    color: #ccc;
    font-weight: 400;
}

.blog .column.six h5,
.blog-section .column.six h5 {
    color: rgba(255, 255, 255, 0.7);
}

.blog-overlay i {
    color: #fff;
}

.single .meta-post a,
.blog.list-style .meta-post a,
.search.list-style .meta-post a {
    text-decoration: none;
}

.single .meta-post a:hover,
.blog.list-style .meta-post a:hover,
.search.list-style .meta-post a:hover {
    color: #FD685B;
}

.single h1 {
    margin-top: 0;
}

.single .meta-social,
.single .related {
    margin-bottom: 1.34em;
}

.single .related h4 {
    margin-bottom: 1.34em;
}

.blog.list-style article,
.blog-section.list-style article,
.search.list-style article {
    margin-bottom: 0 !important;
    padding: 3em 0;
    border-bottom: 1px solid #DDD;
}

.blog.list-style h2,
.blog-section.list-style h2,
.search.list-style h2 {
    margin-top: 0;
    margin-bottom: 0.313em;
}

.blog.list-style h5,
.blog-section.list-style h5,
.search.list-style h5 {
    margin-top: 0;
}

.blog.list-style article figure img,
.blog-section.list-style article figure img,
.search.list-style article figure img {
    width: 100%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
}

.blog.list-style article p,
.blog-section.list-style article p,
.search.list-style article p {
    margin-bottom: 0;
}

.blog.masonry-style article h5,
.blog-section.masonry-style article h5 {
    text-transform: uppercase;
}

.blog.masonry-style article.six figure img,
.blog.masonry-style article.eight figure img,
.blog-section.masonry-style article.six figure img,
.blog-section.masonry-style article.eight figure img {
    width: 100%;
}

.blog.masonry-style article.six figure img,
.blog.masonry-style article.six figure .blog-overlay,
.blog.masonry-style article.eight figure img,
.blog.masonry-style article.eight figure .blog-overlay,
.blog-section.masonry-style article.six figure img,
.blog-section.masonry-style article.six figure .blog-overlay,
.blog-section.masonry-style article.eight figure img,
.blog-section.masonry-style article.eight figure .blog-overlay {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.blog.masonry-style article.six .blog-excerpt,
.blog.masonry-style article.eight .blog-excerpt,
.blog-section.masonry-style article.six .blog-excerpt,
.blog-section.masonry-style article.eight .blog-excerpt {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1em;
}

.blog.masonry-style article.six .blog-excerpt h2,
.blog.masonry-style article.eight .blog-excerpt h2,
.blog-section.masonry-style article.six .blog-excerpt h2,
.blog-section.masonry-style article.eight .blog-excerpt h2 {
    margin-top: 0;
    color: #fff;
    font-size: 1.333em;
}

.blog.masonry-style article.three,
.blog.masonry-style article.four,
.blog-section.masonry-style article.three,
.blog-section.masonry-style article.four {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.blog.masonry-style article.three figure img,
.blog.masonry-style article.four figure img,
.blog-section.masonry-style article.three figure img,
.blog-section.masonry-style article.four figure img {
    width: 100%;
}

.blog.masonry-style article.three figure img,
.blog.masonry-style article.three figure .blog-overlay,
.blog.masonry-style article.four figure img,
.blog.masonry-style article.four figure .blog-overlay,
.blog-section.masonry-style article.three figure img,
.blog-section.masonry-style article.three figure .blog-overlay,
.blog-section.masonry-style article.four figure img,
.blog-section.masonry-style article.four figure .blog-overlay {
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;
}

.blog.masonry-style article.three .blog-excerpt,
.blog.masonry-style article.four .blog-excerpt,
.blog-section.masonry-style article.three .blog-excerpt,
.blog-section.masonry-style article.four .blog-excerpt {
    overflow: hidden;
    padding: 0.556em;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
    background-color: #fff;
}

.blog.masonry-style article.three .blog-excerpt h2,
.blog.masonry-style article.four .blog-excerpt h2,
.blog-section.masonry-style article.three .blog-excerpt h2,
.blog-section.masonry-style article.four .blog-excerpt h2 {
    margin-top: 0;
    font-size: 0.889em;
}

.blog.masonry-style article.three .blog-excerpt p,
.blog.masonry-style article.four .blog-excerpt p,
.blog-section.masonry-style article.three .blog-excerpt p,
.blog-section.masonry-style article.four .blog-excerpt p {
    color: #333;
    font-size: 0.667em;
}

.blog.masonry-style article.three .blog-excerpt h5,
.blog.masonry-style article.four .blog-excerpt h5,
.blog-section.masonry-style article.three .blog-excerpt h5,
.blog-section.masonry-style article.four .blog-excerpt h5 {
    margin-top: 0.5em;
    font-size: 0.667em;
}

.blog.masonry-style article.three .blog-excerpt-inner,
.blog.masonry-style article.four .blog-excerpt-inner,
.blog-section.masonry-style article.three .blog-excerpt-inner,
.blog-section.masonry-style article.four .blog-excerpt-inner {
    overflow: hidden;
    height: 100%;
}

.blog.masonry-style article a figure,
.blog-section.masonry-style article a figure {
    position: relative;
}

.blog.masonry-style article a figure .blog-overlay,
.blog-section.masonry-style article a figure .blog-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(79, 193, 233, 0.9);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -moz-opacity: 0;
}

.blog.masonry-style article a,
.blog-section.masonry-style article a {
    text-decoration: none;
}

.blog.masonry-style article a:hover figure .blog-overlay,
.blog-section.masonry-style article a:hover figure .blog-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
}

.blog.masonry-style article a:hover figure .blog-overlay i,
.blog-section.masonry-style article a:hover figure .blog-overlay i {
    -webkit-animation: overlay .5s ease forwards;
    -moz-animation: overlay .5s ease forwards;
    animation: overlay .5s ease forwards;
}

.blog.masonry-style article figure .blog-overlay i,
.blog-section.masonry-style article figure .blog-overlay i {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.blog.masonry-style article.three figure .blog-overlay i,
.blog-section.masonry-style article.three figure .blog-overlay i {
    top: 35%;
}

.blog.masonry-style article.six figure .blog-overlay i,
.blog-section.masonry-style article.six figure .blog-overlay i {
    top: 10%;
}

.blog.list-style article h2 a,
.blog-section.list-style article h2 a,
.search.list-style article h2 a {
    color: #222;
    text-decoration: none;
}

.blog.list-style article h2 a:hover,
.blog-section.list-style article h2 a:hover,
.search.list-style article h2 a:hover {
    color: #FD685B;
    text-decoration: none;
}

.blog.list-style article.last,
.blog-section.list-style article.last,
.search.list-style article.last {
    border: none;
}

.blog.masonry-style article.six figure img,
.blog.masonry-style article.eight figure img,
.blog-section.masonry-style article.six figure img,
.blog-section.masonry-style article.eight figure img,
.blog.masonry-style article.three,
.blog.masonry-style article.four,
.blog-section.masonry-style article.three,
.blog-section.masonry-style article.four,
.blog.list-style article figure img,
.related img,
.related .overlay,
.portfolio-section figure img,
.portfolio-section .overlay {
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.portfolio ul.cats {
    margin-top: 0;
    text-align: center;
}

.portfolio ul.cats li {
    margin-right: 1em;
    color: #444;
    font-weight: 700;
    font-size: 0.889em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.portfolio ul.cats li:hover {
    border-bottom: 2px solid #333;
    color: #333;
}

.portfolio ul.cats li.active {
    border-bottom: none;
    color: #FD685B;
}

.related .item {
    position: relative;
    float: left;
    clear: none;
    margin-right: 3.8%;
    margin-bottom: 3.8%;
    margin-left: 0;
    width: 30.75%;
}

.related .item.last {
    margin-right: 0% !important;
}

.related img,
.related .overlay,
.portfolio-section figure img,
.portfolio-section .overlay {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.portfolio figure img,
.portfolio .overlay,
.portfolio-section figure img,
.portfolio-section .overlay,
.single-portfolio figure img,
.single-portfolio .overlay {
    width: 100%;
}

.portfolio .overlay,
.portfolio-section .overlay,
.related .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    padding: 0 1em;
    height: 100%;
    border-bottom: none;
    background-color: rgba(79, 193, 233, 0.9);
    color: #fff;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    -moz-opacity: 0;
}

.portfolio-section.dribbble-items .overlay {
    background-color: rgba(255, 107, 171, 0.9);
}

.portfolio .overlay i,
.portfolio-section .overlay i,
.related .overlay i {
    font-size: 2em;
    line-height: 1.8;
}

.portfolio .overlay h2,
.portfolio-section .overlay h2,
.related .overlay h2 {
    margin-top: 0.67em;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.889em;
}

.portfolio .overlay p,
.portfolio-section .overlay p,
.related .overlay p {
    font-size: 0.722em;
}

.fluidvids {
    margin-bottom: 1em;
}

.portfolio .overlay,
.portfolio .overlay-content,
.portfolio-section .overlay,
.portfolio-section .overlay-content,
.related .overlay,
.related .overlay-content {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.portfolio .overlay,
.portfolio-section .overlay,
.related .overlay {
    text-decoration: none;
}

.portfolio .overlay:hover,
.portfolio-section .overlay:hover,
.related .overlay:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
}

.portfolio .overlay:hover .overlay-content i,
.portfolio-section .overlay:hover .overlay-content i,
.related .overlay:hover .overlay-content i {
    -webkit-animation: overlay .5s ease forwards;
    -moz-animation: overlay .5s ease forwards;
    animation: overlay .5s ease forwards;
}

@-webkit-keyframes overlay {
    from {
        -webkit-transform: translateY(-0.5em);
    }
}

@-moz-keyframes overlay {
    from {
        -moz-transform: translateY(-0.5em);
    }
}

@keyframes overlay {
    from {
        transform: translateY(-0.5em);
    }
}

