    .intro-item {
        background-color: #4A89DC;
    }
    
    header.transparent {
        background-color: #5D9CEC;
    }
    
    header.fixed-header.transparent.light #brand a,
    header.fixed-header.transparent.light nav > ul > li > a {
        color: #fff;
    }
    
    .slogan {
        background-color: #5D9CEC;
    }
    .fade {
        background: -moz-linear-gradient(left, #4A89DC 20%, transparent 100%);
        background: -webkit-linear-gradient(left, #4A89DC 20%, transparent 100%);
        background: -o-linear-gradient(left, #4A89DC 20%, transparent 100%);
        background: linear-gradient(left, #4A89DC 20%, transparent 100%);
    }

h1, h2, h3, h4, h5, h6 {
    color: #4A89DC;
}