

/*----------------------------------------------------------------
    Intro
----------------------------------------------------------------*/

#intro-wrap {
    position: relative;
    width: 100%;
    height: 33.333em;
    background-color: #363842;
}

#intro {
    position: fixed;
    width: inherit;
    height: inherit;
}

#intro .intro-item {
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro.preload .intro-item {
    visibility: hidden;
}

.darkover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
}

#intro .intro-mockup,
.caption,
.caption-mockup,
.photocaption {
    z-index: 2;
}

.caption,
.photocaption {
    position: absolute;
}

#intro .intro-mockup-wrapper,
.caption,
.photocaption {
    margin: 0 auto;
    padding: 0 8%;
}

#intro .intro-mockup-wrapper {
    max-width: 70em;
}

#intro .intro-mockup img {
    margin: 0 auto;
    max-width: 40em;
}

#intro .intro-mockup.intro-left img,
#intro .intro-mockup.intro-right img {
    max-width: 20em;
}

.owl-item .caption h2,
.owl-item .caption p,
.owl-item .caption .button,
.owl-item .caption-mockup h2,
.owl-item .caption-mockup p,
.owl-item .caption-mockup .button,
.owl-item .photocaption {
    opacity: 0;
}

.caption,
.caption-mockup {
    width: 100%;
    text-align: center;
}

.caption,
.caption h2,
.caption-mockup,
.caption-mockup h2,
.photocaption,
.photocaption h4 {
    color: #fff;
}

.caption.dark,
.caption.dark h2,
.caption-mockup.dark,
.caption-mockup.dark h2 {
    color: #333;
}

.caption h2,
.caption-mockup h2 {
    margin-bottom: 0.222em;
    font-size: 3em;
}

.caption h2 {
    margin-top: 0;
}

.caption p,
.caption-mockup p {
    margin-top: 0;
}

.caption-mockup.caption-left {
    float: left;
}

.caption-mockup.caption-right {
    float: right;
}

.photocaption {
    right: 0;
    bottom: 1.111em;
    padding: 0;
    max-width: 20%;
}

.photocaption h4 {
    margin: 0;
    padding: 0.778em 1em;
    background-color: rgba(0, 0, 0, 0.35);
    font-weight: 400;
    font-style: italic;
    font-size: 0.778em;
    font-family: 'Open Sans', sans-serif;
}

.caption a,
.caption-mockup a,
.photocaption a {
    color: #fff;
}

#intro-wrap .more {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2.667em;
}

#intro-wrap:hover .preload .more a {
    opacity: 0;
    filter: Alpha(Opacity=0);
    /* IE7 fix */
    ;
}

#intro-wrap .more a {
    color: #fff;
    opacity: 0;
    filter: Alpha(Opacity=0);
    /* IE7 fix */
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#intro-wrap:hover .more a {
    opacity: 1;
    filter: Alpha(Opacity=100);
    /* IE7 fix */
    ;
}